In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

### 读取文件

In [14]:
path = 'E:/Source/ThsisSource/DataSource/UNSW-NB15/all.csv'
data = pd.read_csv(path)
data

C:\Users\PanGO\AppData\Local\Temp\ipykernel_6936\4006054492.py:2: DtypeWarning: Columns (1,3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path)

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,﻿59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540042,59.166.0.5,33094,149.171.126.7,43433,tcp,FIN,0.087306,320,1828,31,...,,1,2,3,3,1,1,3,NaN,0
2540043,59.166.0.7,20848,149.171.126.4,21,tcp,CON,0.365058,456,346,31,...,2,2,2,2,2,2,2,2,NaN,0
2540044,59.166.0.3,21511,149.171.126.9,21,tcp,CON,6.335154,1802,2088,31,...,2,2,2,4,2,2,2,2,NaN,0
2540045,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,31,...,,1,1,2,4,2,2,2,NaN,0
2540046,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,...,,1,1,2,4,2,2,2,Exploits,1

In [15]:
data.keys()

Index(['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes',
       'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload',
       'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz',
       'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime',
       'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat',
       'is_sm_ips_ports', 'ct_state_ttl', 'ct_flw_http_mthd', 'is_ftp_login',
       'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src_ ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'attack_cat',
       'Label'],
      dtype='object')

### 删除无意义的列数据

In [16]:
Label = data['Label']
data = data.drop(['srcip', 'sport', 'dsport', 'dstip', 'Ltime', 'Stime', 'attack_cat','Label'], axis=1)

### 对 proto、state、service进行独热编码

In [17]:
enc = OneHotEncoder(sparse=False)
proto = enc.fit_transform(data[['proto']])  # proto
state = enc.fit_transform(data[['state']])  # state
service = enc.fit_transform(data[['service']])  # service
data = data.drop(['proto', 'state', 'service'], axis=1)
data = np.array(data)
data = np.concatenate((data, proto, state, service), axis=1)
data = pd.DataFrame(data)
data

,0,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,201
0,0.001055,132,164,31,29,0,0,500473.9375,621800.9375,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.036133,528,304,31,29,0,0,87676.08594,50480.17188,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.001119,146,178,31,29,0,0,521894.5313,636282.375,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.001209,132,164,31,29,0,0,436724.5625,542597.1875,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.001169,146,178,31,29,0,0,499572.25,609067.5625,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540042,0.087306,320,1828,31,29,1,2,24465.67188,146610.7656,6,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2540043,0.365058,456,346,31,29,2,2,8743.816406,6333.240234,8,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2540044,6.335154,1802,2088,31,29,7,9,2204.839844,2549.582764,32,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2540045,2.200934,3498,166054,31,29,2,57,12496.51367,598375.0625,58,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2540046,0.942984,574,676,62,252,5,6,4470.913574,5259.898438,12,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

### 分层划分数据集

In [18]:
x_train, x_test, y_train, y_test = train_test_split(data, Label, test_size=0.01, random_state=50,stratify=Label)
col = list(x_test.columns)
x_test[col] = x_test[col].apply(pd.to_numeric, errors='coerce')

### 保证不存在异常值

In [ ]:
X = x_test.astype(float)
x_test = x_test.astype(float)
Y = y_test.astype(int)
X = np.array(pd.DataFrame(X).fillna(value=0))
X2 = np.concatenate((X, Y), axis=1)
data2 = pd.DataFrame(X2)
data2.to_csv('E:/Source/ThsisSource/DataSource/UNSW-NB15/process/result_unsw-nb15_2checkpoint.csv', encoding='utf-8')